EXPO_PUBLIC_API_URL=http://chfilmsjp.ddns.com.br:8088/rest
EXPO_PUBLIC_API_VERSION=v2
EXPO_PUBLIC_COMPANY=01
EXPO_PUBLIC_BRANCH=01

# Firebase Authentication
EXPO_PUBLIC_FIREBASE_API_KEY=
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN=addere-db734.firebaseapp.com
EXPO_PUBLIC_FIREBASE_PROJECT_ID=addere-db734
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET=addere-db734.firebasestorage.app
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=767044226268
EXPO_PUBLIC_FIREBASE_APP_ID=1:767044226268:web:298f1026de12ad11da3819
EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID=
